<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" tools:replace="android:usesCleartextTraffic">
        <meta-data android:name="com.hotupdater.FINGERPRINT_HASH" android:value="72a4cea268b6cb1b3334f7625371e870d3948871"/>
    </application>
</manifest>
